<div class="content">
  <div class="assembly">
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
    <div class="positioner">
      <div class="prism">
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
        <div class="prism_face"></div>
      </div>
    </div>
  </div>
</div>