<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="nav navbar-nav">
    <li class= "nav-item dropdown"> 
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Form Examples</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="form1">Reactive Form</a>
        <a class="dropdown-item" routerLink="form1">Template Form</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
